
table { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 12px; margin: 45px; width: 550px;
    text-align: center; border-collapse: collapse; }
th { font-size: 13px; font-weight: normal; padding: 8px; background: #0db9ee; border-top: 4px solid #aabcfe;


border-bottom: 1px solid #fff; color: rgb(247, 247, 247); }


td { padding: 8px; background: #0db9ee; border-bottom: 1px solid #fff; color: black; border-top: 1px solid transparent; }


tr:hover td { background: #0db9ee; color: rgb(0, 0, 0); }


.boton {   color: black; padding: 5px; margin: 10px;
    background-color: #b9c9fe;
    font-weight: bold; }
#contenedorForm {margin-left: 45px; font-size:12px;}


.Editar {color: green; cursor:pointer;}


body {font-family: Arial, Helvetica, sans-serif; background-color: #fff;}

